<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">



<!--using value as tag-->
    <bean name="student1" class="com.springcore.Student">
        <property name="studentId">
            <value>1234</value>
        </property>
        <property name="studentName">
            <value>Vivek Reddy</value>
        </property>
        <property name="studentAddress">
            <value>Dallas Texas</value>
        </property>
    </bean>

<!--    using value as attribute-->
    <bean name="student2" class="com.springcore.Student">
        <property name="studentId" value="456"/>
        <property name="studentName" value="sai vivek"/>
        <property name="studentAddress" value="houston texas"/>
    </bean>


<!--    using pschema-->
    <bean name="student3" class="com.springcore.Student" p:studentId="789"
          p:studentName="pragna" p:studentAddress="charlotte"/>

    <bean name="student4" class="com.springcore.Student"
          p:studentName="pragna" p:studentAddress="charlotte">
        <property name="studentId" value="453"/>
    </bean>







</beans>